{% block ongletsCnx_dec %}
<!--fonction du bouton Connection -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
               <button type="button" class="close " data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                Veuillez s&eacute;lectionner : <br>"Connexion" si vous
                souhaitez vous connecter <br>"Inscription" si vous voulez
                vous inscrire.
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/login">Connexion</a> <a
                        class="btn btn-primary" href="/register">Inscription</a>
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Annuler
                </button>

            </div>
        </div>
    </div>
</div>
</div>  <!-- fin de la fonction du bouton connexion -->

<!--fonction du bouton Deconnection -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">D&eacute;connexion</h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">Veuillez s&eacute;lectionner
                "D&eacute;connexion" si vous souhaitez quitter votre session.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Annuler
                </button>
                <a class="btn btn-primary" href="/logout">D&eacute;connexion</a>
            </div>
        </div>
    </div>
</div><!-- fin de la fonction du bouton deconnexion -->
{% endblock %}