{# app/Resources/views/documents.html.twig #}
{% block li2 %}
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
	<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti40" data-parent="#exampleAccordion">
        <i class="fa fa-fw fa fa-folder-open-o"></i>
        <span class="nav-link-text">Documents</span>
    </a>
	<ul class="sidenav-second-level collapse" id="collapseMulti40">
		<li>
            <li><a href="/document/see">Consulter un document</a></li>
            {% if app.user %}
                <li><a href="/document/upload">Ajouter un document</a></li>
                <li><a href="/document/delete">Supprimer un document</a></li>
            {% endif %}</li>
    </ul>
</li>
{% endblock %}
