{# app/Resources/views/formation.html.twig #}

{#Onglets pour FORMATION #}
{% block li5 %}
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
		<a class="nav-link" href="/formation/see">
			<i class="fa fa-fw fa-book"></i>
			<span class="nav-link-text">Formations</span>
		</a>
	</li>
{% endblock %}