{# app/Resources/views/gestion.html.twig #}

{#Onglets pour GESTION #}
{% block li1 %}
<li class="nav-item" data-toggle="tooltip" data-placement="right"
	title="Components"><a class="nav-link nav-link-collapse collapsed"
	data-toggle="collapse" href="#collapseComponents"
	data-parent="#exampleAccordion"> <i class="fa fa-fw fa fa-user-circle"></i>
		<span class="nav-link-text">Gestion</span>
</a>
	<ul class="sidenav-second-level collapse" id="collapseComponents">
		<li>
		<li><a href="/identite/etatcivil">Identité / Etat Civil</a></li>
		<li><a href="/organisme/agent">Organisme / Agent</a></li>
		<li><a href="/organisme/affectation">Organisme / Affectation</a></li>
		<li><a href="/carriere/situation">Carrière / Situation</a></li>
<!--<li>
        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Proc&eacute;dure</a>
        <ul class="sidenav-third-level collapse" id="collapseMulti2">
        	<li>
            <a href="#">En cours</a>
            </li>
            <li>
            <a href="#">Nouvelle</a>
            </li>
        </ul>
        </li>
        <li>
        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti3">Recrutement</a>
        <ul class="sidenav-third-level collapse" id="collapseMulti3">
        	<li>
            <a href="#">Recherche candidat</a>
            </li>
            <li>
            <a href="#">Nouveau candidat</a>
            </li>
            <li>
            <a href="#">Recherche Offre</a>
            </li>
            <li>
            <a href="#">Nouvelle Offre</a>
            </li>
        </ul>
        </li>
        <li>
        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti4">Effectif et Poste (emploi)</a>
        <ul class="sidenav-third-level collapse" id="collapseMulti4">
        	<li>
            <a href="#">Recherche Emploi Budg&eacute;taire</a>
            </li>
            <li>
            <a href="#">Nouvel emploi</a>
            </li>
            <li>
            <a href="#">Recherche Poste</a>
            </li>
            <li>
            <a href="#">Nouveau poste</a>
            </li>
         </ul>
         </li>
         <li>
         <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti5">M&eacute;tier</a>
         <ul class="sidenav-third-level collapse" id="collapseMulti5">
         	<li>
            <a href="#">Recherche</a>
            </li>
            <li>
            <a href="#">Nouveau</a>
            </li>
         </ul>
         </li>
         <li>
         <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti6">Simulation</a>
         <ul class="sidenav-third-level collapse" id="collapseMulti6">
         	<li>
            <a href="#">Recherche simulation</a>
            </li>
            <li>
            <a href="#">Nouvelle simulation</a>
            </li>
            <li>
            <a href="#">Recherche budget</a>
            </li>
            <li>
            <a href="#">Nouveau budget</a>
            </li>
          </ul>
          </li>
          <li>
          <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti7">Suppl&eacute;ance</a>
          <ul class="sidenav-third-level collapse" id="collapseMulti7">
          	<li>
            <a href="#">Suppl&eacute;ance</a>
            </li>
            <li>
            <a href="#">Suppl&eacute;ant</a>
            </li>
          </ul>
          </li>
          <li>
          <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti8">Evaluation</a>
          <ul class="sidenav-third-level collapse" id="collapseMulti8">
          	<li>
            <a href="#">Synth&egrave;se proc&eacute;dure - Evaluation</a>
            </li>
            <li>
            <a href="#">Recherche proc&eacute;dure</a>
            </li>
            <li>
            <a href="#">Nouvelle proc&eacute;dure</a>
            </li>
          </ul>
          </li>
          <li>
          <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti9">Environnement Syst&egrave;me</a>
          <ul class="sidenav-third-level collapse" id="collapseMulti9">
          	<li>
            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti10">Gestion des imprimantes</a>
            <ul class="sidenav-third-level collapse" id="collapseMulti10">
            	<li>
                <a href="#">Imprimantes</a>
                </li>
                <li>
                <a href="#">Format d'impr&eacute;ssion</a>
                </li>
                <li>
                <a href="#">Police sp&eacute;cifique</a>
                </li>
                <li>
                <a href="#">Affectation &agrave; un utilisateur</a>
                </li>
                <li>
                <a href="#">Affectation &agrave; un batch</a>
                </li>
             </ul>
             </li>
             <li>
             <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti11">Utilisateurs Oracle</a>
             <ul class="sidenav-third-level collapse" id="collapseMulti11">
             	<li>
              	<a href="#">Modules de l'organisme</a>
             	</li>
             	<li>
              	<a href="#">Organismes par d&eacute;faut de l'utilisateur</a>
             	</li>
             	<li>
              	<a href="#">Module de l'utilisateur</a>
             	</li>
             </ul>
             </li>
			 <li>
			 <a href="#">Domaines</a>
			 </li>
			 <li>
			 <a href="#">Applications</a>
			 </li>
			 <li>
			 <a href="#">Utilisateurs</a>
			 </li>
			 <li>
			 <a href="#">Utilisateurs/Domaine</a>
			 </li>
			 <li>
			 <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti12">Confidentialit&eacute;</a>
			 <ul class="sidenav-third-level collapse" id="collapseMulti12">
			 	<li>
				<a href="#">Profils</a>
				</li>
				<li>
				<a href="#">Traitements</a>
				</li>
				<li>
				<a href="#">Collections</a>
				</li>
				<li>
				<a href="#">Profils/Utilisateur</a>
				</li>
				<li>
				<a href="#">Utilisateurs/Profil</a>
				</li>
				<li>
				<a href="#">Traitement/Profil</a>
				</li>
				<li>
				<a href="#">Collections/Profil</a>
				</li>
				<li>
				<a href="#">Traitements/Collection/Profil</a>
				</li>
			</ul>
			</li>
			<li>
			<a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti13">Menus dynamiques</a>
			<ul class="sidenav-third-level collapse" id="collapseMulti13">
				<li>
				<a href="#">Menu</a>
				</li>
				<li>
				<a href="#">Th&egrave;me</a>
				</li>
				<li>
				<a href="#">Menu/Utilisateur</a>
				</li>
			</ul>
			</li>
		</ul>
		</li>-->
</ul>
</li>
{% endblock %}
