{% block ongletsLeft %}
<!-- Onglets Left -->
<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <!--  Onglets à gauche -->
    {% block li%}
      {% if listOnglets is defined %}
    {% for onglet in listOnglets %}
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        	<i class="{{ onglet.getGlyphicon() }}"></i>
            <span class="nav-link-text">{{ onglet.getOnglet()}}</span>
        </a>
        <div class="dropdown-menu grad_menu" aria-labelledby="navbarDropdownMenuLink">
        <table class="table-condensed">
        <tr>
        {% for page in onglet.getPages() %}
        <td><a class="nav-link" href="{{ page.getUrl() }}">
            <span class="nav-link-text">{{ page.getPage() }}</span>
        	</a>
        </td>
        {% if loop.index%2 == 0 %}
        </tr>
        {% else %}
        {% endif %}
       {% endfor %}
       </table>
    {% endfor %}
           
          <li></li>
		</div>
		</li>
{% else %}
 <li class="nav-item dropdown">
  	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      	<li class="nav-item"><a href="/" class="nav-link"><i class="fa fa-home"></i> Accueil </a></li>
      	<li class="nav-item"><a href="/document" class="nav-link"><i class="fa fa-briefcase"></i> Documents </a></li>
    	<li class="nav-item"><a href="/formation" class="nav-link"><i class="fa fa-book"></i> Formations </a></li>
    	<li class="nav-item"><a href="/tutoriel" class="nav-link"><i class="fa fa-video-camera"></i> Tutoriels </a></li>
    	<li class="nav-item"><a href="https://www.gfi.world/fr/" class="nav-link"><i class="fa fa-internet-explorer"></i> GFI </a></li>
    	<li class="nav-item"><a href="http://forumastrerh.gfi.fr/" class="nav-link"><i class="fa fa-users"></i> Forum Astre RH </a></li>
	</div>
	</li>
</ul>
{% endif %}
    {% endblock %}
<!-- Fin Onglets Left -->
{% endblock %}