{% block ongletsTop %}
<ul class="navbar-nav ml-auto ">
 	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Gestion
        </a>
        <div class="dropdown-menu grad_menu" aria-labelledby="navbarDropdownMenuLink">
        <table>
          <tr><td><a class="dropdown-item" href="/gestion/agent">Agent</a></td>
          <td><a class="dropdown-item" href="/gestion/recrutement">Recrutement</a></td></tr>
          <tr><td><a class="dropdown-item" href="/gestion/effectif">Effectif et Poste (emploi)</a></td>
          <td><a class="dropdown-item" href="/gestion/metier">Métier</a></td></tr>
          <tr><td><a class="dropdown-item" href="/gestion/simulation">Simulation</a></td>
          <td><a class="dropdown-item" href="/gestion/suppleance">Suppléance</a></td></tr>
          <tr><td><a class="dropdown-item" href="/gestion/evaluation">Evaluation</a></td></tr>
        </table>
        </div>
 	</li>
</ul>
<ul class="navbar-nav ml-auto">
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Référentiel
        </a>
        <div class="dropdown-menu grad_menu" aria-labelledby="navbarDropdownMenuLink">
        <table>
          <tr><td><a class="dropdown-item" href="/referentiel/general">Général</a></td>
          <td><a class="dropdown-item" href="/referentiel/absences">Absences</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/accidentdutravail">Accident de travail</a></td>
          <td><a class="dropdown-item" href="/referentiel/carriere">Carrière</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/agent">Agent</a></td>
          <td><a class="dropdown-item" href="/referentiel/gestionmodele">Gestion modèles</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/editions">Editions</a></td>
          <td><a class="dropdown-item" href="/referentiel/remuneration">Rémunération</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/recrutement">Recrutement</a></td>
          <td><a class="dropdown-item" href="/referentiel/effectif">Effectif et Poste (emploi)</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/alertes">Alertes</a></td>
          <td><a class="dropdown-item" href="/referentiel/interfaceharpege">Interface harpège</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/interface">Interface</a></td>
          <td><a class="dropdown-item" href="/referentiel/prestation">Prestation</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/simulation">Simulation</a></td>
          <td><a class="dropdown-item" href="/referentiel/suppleance">Suppléance</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/gestionfichier">Gestion Fichier</a></td>
          <td><a class="dropdown-item" href="/referentiel/coherence">Cohérence des données</a></td></tr>
          <tr><td><a class="dropdown-item" href="/referentiel/declaration">Déclaration CIR</a></td>
          <td><a class="dropdown-item" href="/referentiel/evaluation">Evaluation</a></td></tr>
        </table>
        </div>
	</li>
</ul>
<ul class="navbar-nav ml-auto navbar-collapse">
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Traitement
        </a>
        <div class="dropdown-menu grad_menu" aria-labelledby="navbarDropdownMenuLink">
        <table>
          <tr><td><a class="dropdown-item" href="/traitement/identite">Identité</a></td>
          <td><a class="dropdown-item" href="/traitement/agent">Agent</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/carriere">Carrière</a></td>
          <td><a class="dropdown-item" href="/traitement/absences">Absences</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/droit">Droit individuel formation</a></td>
          <td><a class="dropdown-item" href="/traitement/remuneration">Rémunération</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/listes">Listes agents</a></td>
          <td><a class="dropdown-item" href="/traitement/editions">Editions référentiel</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/exploitation">Exploitation</a></td>
          <td><a class="dropdown-item" href="/traitement/groupes">Traitements Groupés</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/epurations">Epurations</a></td>
          <td><a class="dropdown-item" href="/traitement/interface">Interface</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/liaison">Liaison bureautique</a></td>
          <td><a class="dropdown-item" href="/traitement/astrator">Astrator</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/effectif">Effectif et poste (emploi)</a></td>
          <td><a class="dropdown-item" href="/traitement/suppleance">Suppléance</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/dsn">DSN/PASRAU</a></td>
          <td><a class="dropdown-item" href="/traitement/n4ds">N4DS</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/dads">DADS-U</a></td>
          <td><a class="dropdown-item" href="/traitement/dn">DN-AC</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/prestation">Prestation</a></td>
          <td><a class="dropdown-item" href="/traitement/alerte">Alerte</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/simulation">Simulation</a></td>
          <td><a class="dropdown-item" href="/traitement/rapport">Rapport Annuel</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/due">DUE</a></td>
          <td><a class="dropdown-item" href="/traitement/anteriorite">Antériorité</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/export">Export - Import</a></td>
          <td><a class="dropdown-item" href="/traitement/modules">Modules complémentaires</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/preparation">Préparation Masse Salariale</a></td>
          <td><a class="dropdown-item" href="/traitement/pilotage">Pilotage Masse Salariale</a></td></tr>
          <tr><td><a class="dropdown-item" href="/traitement/declaration">Déclaration CIR</a></td></tr>
          </table>
        </div>
	</li>
</ul>

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="alertsDropdown"
            href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            {% if app.user %} Bienvenue {{ app.user.username }} {% endif %}
        </a>
        
    {# Onglet du bloc des alerts #}
    {{ include ("CoreBundle::alerts.html.twig") }}
    </li>
    {# Fin du bloc des alertes #}
    
    {# Onglet de recherche du site #}
    <li class="nav-item">
        <form class="form-inline" action="/search" method="post">
            <div class="input-group"> <input class="form-control" type="text" placeholder="Rechercher ..." name='data'>
                <span class="input-group-btn">
                <input type="hidden" name="search" value="all"/>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </li> {# Fin de l'onglet de recherche #}
    {# Onglet de connexion/deconnexion des utilisateurs #}
    <li class="nav-item">
        {% if app.user %}
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal1">
                <i class="fa fa-fw fa fa-power-off"></i>Déconnexion
            </a>
        {% else %}
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-fw fa-sign-in"></i>Connexion</a>
        {% endif %}
    </li> {# Fin de l'onglet de connexion/deconnexion #}
</ul>
{% endblock %}