{% block ongletsTop %}
<ul class="navbar-nav ml-auto">
{# <li><a href="/allonglets/gestion"> Gestion </a></li>#}
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Gestion
        </a>
        <div class="dropdown-menu grad_nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/gestion/agent">Agent</a>
          <a class="dropdown-item" href="#">Recrutement</a>
          <a class="dropdown-item" href="#">Effectif et Poste (emploi)</a>
          <a class="dropdown-item" href="#">Métier</a>
          <a class="dropdown-item" href="#">Simulation</a>
          <a class="dropdown-item" href="#">Suppléance</a>
          <a class="dropdown-item" href="#">Evaluation</a>
        </div>
</ul>
<ul class="navbar-nav ml-auto">
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Référentiel
        </a>
        <div class="dropdown-menu grad_nav" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/referentiel/general">Général</a>
          <a class="dropdown-item" href="/referentiel/abscences">Abscences</a>
          <a class="dropdown-item" href="/referentiel/accidentdutravail">Accident de travail</a>
          <a class="dropdown-item" href="/referentiel/carriere">Carrière</a>
          <a class="dropdown-item" href="/referentiel/agent">Agent</a>
          <a class="dropdown-item" href="/referentiel/gestionmodele">Gestion modèles</a>
          <a class="dropdown-item" href="/referentiel/editions">Editions</a>
          <a class="dropdown-item" href="/referentiel/remuneration">Rémunération</a>
          <a class="dropdown-item" href="/referentiel/recrutement">Recrutement</a>
          <a class="dropdown-item" href="/referentiel/effectif">Effectif et Poste (emploi)</a>
          <a class="dropdown-item" href="/referentiel/alertes">Alertes</a>
          <a class="dropdown-item" href="/referentiel/interfaceharpege">Interface harpège</a>
          <a class="dropdown-item" href="/referentiel/interface">Interface</a>
          <a class="dropdown-item" href="/referentiel/prestation">Prestation</a>
          <a class="dropdown-item" href="/referentiel/simulation">Simulation</a>
          <a class="dropdown-item" href="/referentiel/suppleance">Suppléance</a>
          <a class="dropdown-item" href="/referentiel/gestionfichier">Gestion Fichier</a>
          <a class="dropdown-item" href="/referentiel/coherence">Cohérence des données</a>
          <a class="dropdown-item" href="/referentiel/declaration">Déclaration CIR</a>
          <a class="dropdown-item" href="/referentiel/evaluation">Evaluation</a>
        </div>
</ul>
<ul class="navbar-nav ml-auto">
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-folder"></i> Traitement
        </a>
        <div class="dropdown-menu grad_nav" aria-labelledby="navbarDropdownMenuLink">
        <table>
          <tr><td><a class="dropdown-item" href="/allonglets/traitement">Identité</a></td>
          <td><a class="dropdown-item" href="#">Agent</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Carrière</a></td>
          <td><a class="dropdown-item" href="#">Abscences</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Droit individuel formation</a></td>
          <td><a class="dropdown-item" href="#">Rémunération</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Listes agents</a></td>
          <td><a class="dropdown-item" href="#">Editions référentiel</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Exploitation</a></td>
          <td><a class="dropdown-item" href="#">Traitements Groupés</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Epurations</a></td>
          <td><a class="dropdown-item" href="#">Interface</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Liaison bureautique</a></td>
          <td><a class="dropdown-item" href="#">Astrator</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Effectif et poste (emploi)</a></td>
          <td><a class="dropdown-item" href="#">Suppléance</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">DSN/PASRAU</a></td>
          <td><a class="dropdown-item" href="#">N4DS</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">DADS-U</a></td>
          <td><a class="dropdown-item" href="#">DN-AC</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Prestation</a></td>
          <td><a class="dropdown-item" href="#">Alerte</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Simulation</a></td>
          <td><a class="dropdown-item" href="#">Rapport Annuel</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">DUE</a></td>
          <td><a class="dropdown-item" href="#">Antériorité</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Export - Import</a></td>
          <td><a class="dropdown-item" href="#">Modules complémentaires</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Préparation Masse Salariale</a></td>
          <td><a class="dropdown-item" href="#">Pilotage Masse Salariale</a></td></tr>
          <tr><td><a class="dropdown-item" href="#">Déclaration CIR</a></td></tr>
          </table>
        </div>
</ul>

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
            href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            {% if app.user %} Bienvenue {{ app.user.username }} {% endif %}
        </a>
        
    {# Onglet du bloc des alerts #}
    {{ include ("CoreBundle::alerts.html.twig") }}
    {# Fin du bloc des alertes #}
    
    {# Onglet de recherche du site #}
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/search" method="post">
            <div class="input-group"> <input class="form-control" type="text" placeholder="Rechercher..." name='data'>
                <span class="input-group-btn">
                <input type="hidden" name="search" value="all"/>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </li> {# Fin de l'onglet de recherche #}
    {# Onglet de connexion/deconnexion des utilisateurs #}
    <li class="nav-item">
        {% if app.user %}
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal1">
                <i class="fa fa-fw fa fa-power-off"></i>D&eacute;connexion
            </a>
        {% else %}
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-fw fa-sign-in"></i>Connexion</a>
        {% endif %}
    </li> {# Fin de l'onglet de connexion/deconnexion #}
</ul>
{% endblock %}