{# app/Resources/views/referentiel.html.twig #}
{# Onglets pour REFERENTIEL #}
{% block li3 %}
<li class="nav-item" data-toggle="tooltip" data-placement="right"
	title="Menu Levels"><a
	class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
	href="#collapseMulti30" data-parent="#exampleAccordion"> <i
		class="fa fa-fw fa-chain"></i> <span class="nav-link-text">R&eacute;f&eacuterentiel</span>
</a>
	<ul class="sidenav-second-level collapse" id="collapseMulti30">
		<li><a class="nav-link-collapse collapsed" data-toggle="collapse"
			href="#collapseMulti31">G&eacute;n&eacuteral</a>
			<ul class="sidenav-third-level collapse" id="collapseMulti31">
				<li><a class="nav-link-collapse collapsed"
					data-toggle="collapse" href="#collapseMulti32">Donn&eacute;es
						nationales</a>
					<ul class="sidenav-third-level collapse" id="collapseMulti32">
						<li><a href="#">Pays</a></li>
						<li><a href="#">R&eacute;gion</a></li>
						<li><a href="#">D&eacute;partement</a></li>
						<li><a href="#">Arrondissements</a></li>
						<li><a href="#">Cantons</a></li>
						<li><a href="#">Communes</a></li>
						<li><a href="#">Codes postal</a></li>
						<li><a href="#">Devise</a></li>
						<li><a href="#">Banque</a></li>
						<li><a href="#">Guichet</a></li>
						<li><a href="#">BIC - Identification Bancaire Internationale</a></li>
						<li><a href="#">Modes de paiement</a></li>
						<li><a href="#">Convention Collective</a></li>
					</ul></li>
			</ul></li>
	</ul></li>
{% endblock %}
