{# app/Resources/views/tutoriel.html.twig #}

{#Onglets pour TUTORIEL #}
{% block li6 %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
           href="#collapseMulti26" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa fa-play-circle-o"></i>
            <span class="nav-link-text">Tutoriels</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseMulti26">
            <li><a href="/tutoriel/see">Voir les tutoriels</a></li>
            <li><a href="/tutoriel/add">Ajouter un tutoriel</a></li>
            <li><a href="#">Modifier un tutoriel</a></li>
            <li><a href="/tutoriel/del">Supprimer un tutoriel</a></li>
        </ul></li>
{% endblock %}