{# app/Resources/views/tutoriel.html.twig #}

{#Onglets pour TUTORIEL #}
{% block li6 %}
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/tutoriel/see">
            <i class="fa fa-fw fa fa-play-circle-o"></i>
            <span class="nav-link-text">Tutoriels</span>
        </a>
    </li>
{% endblock %}