{# doc/PlatformBundle/Resources/views/Historique/seeAllOp.html.twig #}
{% extends "CoreBundle::abst.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-12">
			<h1>Outils de recherche</h1>
			<table class="table table-sm table-responsive-sm table-active">
				<tr class="table-active">
					<th colspan="3" align="center">Menu
					</td>
				</tr>
				
				<form class="form-inline my-2 my-lg-0 mr-lg-2" action="/searchtype" method="post">
                <tr><td><input type="radio" name="search" value="all" checked /> Sur tout le site &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="doc" /> Sur tous les documents &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="champ" /> Sur tous les champs &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="champp" /> Sur tous les champs avec le nom du champ précis &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="forma" /> Sur toutes les formations &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="formap" /> Sur toutes les formations avec le nom de la formation précise &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="tuto" /> Sur tous les tutoriels &nbsp;</td></tr>
                <tr><td><input type="radio" name="search" value="tutop" /> Sur tous les tutoriels avec le nom du tutoriel précis &nbsp;</td></tr>
                <tr><td><input class="form-control" type="text" placeholder="Rechercher..." name='data'></td>
                	<td><button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    </td></tr>
        		</form>
			</table>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}