{# src/doc/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "docPlatformBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter un Champ</h2>

    {{  include("docPlatformBundle:Advert:form.html.twig") }}

{% endblock %}