h1 {
	background: #ffc966;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	width: auto;
}

h3 {
	/* background: #ffc966; */
	color: #798933;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

h4{
	font-size: 12px;
	font-weight: bold;
}

h5{
	background: #ffc966;
}
p {
	font-size: 15px;
	font-style: italic;
	text-align: justify;
}

.spacer {
	margin-top: 15%;
	margin-left: 30%;
	margin-right: 30%;
}

li{
	line-height : 10pt;
}

span{
	font-size: 13px;
}
a:hover, a:focus, a {
	color: black;
}	

.grad_nav {
	background: linear-gradient(to top left, #ffc966, #ffaa55);
	width: auto;
	height: auto;
}

.grad_menu {
	background: linear-gradient(to top left, #DCDCDC, #F5F5F5);
	width: auto;
	height: auto;
}
.champ{
	color : #2E8B57;
	font-weight : bold;
	font-style : normal;
	font-size: 15px;
	position: relative;
	cursor : help;
}

.champ:hover::after, .origine:hover::after, .format:hover::after {
  content: attr(aria-label);  /* on affiche aria-label */
  color: grey;
  position: absolute;
  background : orange;
  top: -1.5em;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne */
}

.ordre{
	font-weight : bold;
	font-style : oblique;
	font-size: 15px;
}

.origine{
	color : #800080;
	font-weight : bold;
	font-style : normal;
	font-size: 15px;
	cursor: help;
	position: relative;
}

.format{
	color : #BA55D3;
	font-weight : bold;
	font-style : normal;
	cursor: help;
	position: relative;	
}
 .libelle{
	color : blue;
	font-style : normal;
 }
body {padding-bottom: 70px;}
