<!DOCTYPE html>
<html>
<head>
    <title>Wooops</title>
</head>
<body>
<h1>Error {{ error }} !</h1>

<p>
    You encountered an error, please call the support for more informations !
</p>
<a href="http://localhost:8000/app_dev.php/platform">GO TO HOME =></a>
</body>
</html>